<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted, <%= @user.firstname %></h1>
    <p>We have successfully deleted you from example.com.</p>
    <p>Bye.</p>
  </body>
</html>